.step-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  /** 3-- space-evenly was causing issue*/
  justify-content: space-between;
  /* padding: 10px; */
}
.stepper {
  position: relative;
}

.step {
  background-color: gray;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.25s ease; /**2-- do changes in property smoothly*/
}
/**1-- line drawn from one circle to another*/

.progress-line {
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: gray;
  top: 50%;
  z-index: -1;
  transition: all 1.5s ease;
}

.active {
  background-color: blue;
  color: white;
}
