.main_body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 50%;
  padding: 10px;
}

.star {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.star.filled {
  background-color: yellow;
}
