.section {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: yellow;
  margin-bottom: 5px;
  font-size: 25px;
}

.block {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

#wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
