#blocks {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
}

.single_block {
  height: 102px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
