#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.blocks {
  height: 100px;
  background-color: red;
  color: white;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}